<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PinewoodGrow</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Households" asp-action="Index"><img src="~/Images/Logo Trans - Grow.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Households" asp-action="Index">Households</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Receipts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reports<b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="IncomeChart" asp-action="Index">Income Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="IncomeSource" asp-action="Index">Income Source Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="GenderChart" asp-action="Index">Gender Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="DietarySource" asp-action="Index">Dietary Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="IllnessSource" asp-action="Index">Health Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="AgeChart" asp-action="Index">Age Report</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MapReport" asp-action="Index">Map Report</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lookup Values<b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Dietaries" asp-action="Index">Dietary Restrictions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Genders" asp-action="Index">Genders</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Illnesses" asp-action="Index">Illnesses</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Situations" asp-action="Index">Situations</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Volunteers" asp-action="Index">Volunteers</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PinewoodGrow - <a asp-area="" asp-controller="Households" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
