@model PinewoodGrow.Models.Receipt

@{
    ViewData["Title"] = "Create";
}

<style>
    #firstdiv {
        border: 1px solid lightgray;
        padding: 20px;
        margin: 10px;
    }

    #secdiv {
        padding: 10px;
    }
</style>

<br />

<h1 style="text-align: center;">Point Of Sale</h1>

<hr />
<form asp-action="Create">
    <div class="container">
        <div class="row">

            <div>
                <div class="form-group">
                    <label>Household: </label>
                    <select asp-for="HouseholdID" class="form-control" asp-items="ViewBag.HouseSummary">
                        <option>Select Household</option>
                    </select>
                </div>
                <div class="row" style="margin-bottom: 50px;">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <label>Volunteer: </label>
                        @*<select asp-for="VolunteerID" class="form-control" asp-items="ViewBag.VolunteerID">
                        <option>Select Volunteer</option>
                    </select>*@
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <label>Completed On: </label>
                        <input asp-for="CompletedOn" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

            <form class="row g-3">
                <div id="firstdiv" class="col">

                    <figure class="text-center">
                        <h3>New Sale</h3>
                    </figure>

                    <div class="mb-3">
                        <label for="validationTooltip02" class="form-label">ProductType: </label>
                        <select asp-for="ProductTypeID" id="ProductTypeID" name="ProductTypeID" class="form-control" asp-items="ViewBag.ProductTypeID">
                            <option selected disabled value="">Product Categories</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>


                    <!-- Need to select something -->
                    <div class="mb-3">
                        <label for="validationTooltip02" class="form-label">Product: </label>
                        <select asp-for="ProductID" id="ProductID" class="form-control" asp-items="ViewBag.ProductID">
                            <option selected disabled value="">Select Product</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>

                    <!-- number validation it should be over 1 -->
                    <div class="mb-3">
                        <label for="validationTooltip02" class="form-label">Quantity: </label>
                        <div class="row" style="margin:auto">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="Quantity" type="text" id="Quantity" placeholder="0" class="form-control" />
                                    @*<input value="0" class="form-control" type="number" id="txtQan" required>*@
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                            </div>

                            <div class="col-9">
                                <input type="button" class="btn btn-outline-dark" id="btnAddQan" value="+ Quantity" />
                                <input type="button" class="btn btn-outline-secondary" id="btnMinQan" value="- Quantity" />
                            </div>
                        </div>
                    </div>

                    <!-- can not be blank -->
                    <label for="validationCustom01">Unit Price: </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input id="txtUnitPrice" name="unitPrice" class="form-control" type="text" value="@ViewBag.UnitPrice" />
                        @*<input type="number" class="form-control" id="txtPrice" placeholder="0.00" disabled required>*@
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <!--<label for="validationCustom01">Total: </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input asp-for="SubTotal" name="SubTotal" type="text" id="SubTotal" class="form-control" />-->
                        @*<input type="number" class="form-control" id="txtPrice" placeholder="0.00" disabled required>*@
                        <!--<div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>-->
                    <figure class="text-center">
                        <input type="button" onclick="addSale(console.log(addSale))" class="btn btn-outline-primary btn-lg btn-block" style="width: 60%;" id="btnAdd" value="Add" />
                        <input type="reset" class="btn btn-outline-danger btn-lg btn-block" style="width: 30%;" id="btnClear" />
                    </figure>

                </div>
            </form>

            <div id="secdiv" class="col-8">

                <table class="table" id="saletable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Products</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                    <tbody id="saleTableData">
                    </tbody>

                    <tfoot id="saleTableTotal">
                        <tr class="table-success">
                            <th scope="row">Total</th>
                            <td></td>
                            <td id="txtTotalQan">0</td>
                            <td></td>
                            <td id="txtTotal">$0</td>
                            <td></td>
                        </tr>
                    </tfoot>

                </table>
                <div class="row">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="submit" value="Save Order" class="btn btn-outline-success btn-lg" />
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <select asp-for="PaymentID" id="PaymentID" style="-webkit-appearance: none;" class="btn btn-outline-success btn-lg" asp-items="ViewBag.PaymentID">
                            <option>Select Payment Type</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="form-group" style="padding-right: 20px; margin-bottom: 60px">
    <a asp-action="Index" class="btn btn-primary">Back to Orders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/js/refreshDDL.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="~/js/GetUnitPrice.js"></script>
    <script type="text/javascript">
        $('#ProductID').change(function () {
            var selectedProduct = $("#ProductID").val();
            var URL = "/Receipts/GetUnitPrice/" + selectedProduct;
            refreshDDL('txtUnitPrice', URL, true);

        });
        $('#ProductTypeID').change(function () {
            var selectedProvince = $("#ProductTypeID").val();
            var URL = "/Receipts/GetProductType/" + selectedProvince;
            refreshDDL('ProductID', URL, true);
        });

        $(document).ready(function () {
            $("input[type=text]").change(function () {
                CalculateSubTotal();

            });
            $("input[type=text]").change(function () {
                CalculateGrandTotal();
            });

        });

        function CalculateSubTotal() {
            var UnitPrice = $("#txtUnitPrice").val();
            var Quantity = $("#Quantity").val();

            var Total = parseFloat(UnitPrice) * parseFloat(Quantity);
            $("#SubTotal").val(Number(Total).toFixed(2));
        }
        function CalculateGrandTotal() {
            var SubTotal = $("#SubTotal").val() * 1;

            var Total = SubTotal + (SubTotal * 0.13);
            $("#Total").val(parseFloat(Total).toFixed(2));
        }

        function addSale() {
            var selectedRow = null
            var formData = saleData();
            var quan = $("#Quantity").val();
            var price = $("#Quantity").val();

            if (quan != 0 && price != "") {
                if (selectedRow == null)
                    insertNewRecord(formData)
                saleTotal()
            }

            resetSale();
        }

        function saleData() {
            var saleData = {};
            /*saleData["productCat"] = $("#ProductTypeID").val();*/
            saleData["Product"] = $("#ProductID").val();
            saleData["quantity"] = $("#Quantity").val();
            saleData["UnitPrice"] = $("#txtUnitPrice").val();
            saleData["Subtotal"] = (Number($("#txtUnitPrice").val()) * Number($("#Quantity").val())).toFixed(2);
            return saleData;
        }

        function resetSale() {
            document.getElementById("ProductTypeID").value = "";
            document.getElementById("ProductID").value = "";
            document.getElementById("Quantity").value = 0;
            document.getElementById("txtUnitPrice").value = "";
            /*$("#SubTotal").val() = "";*/
        }

        function tableLeng() {
            var table = document.getElementById("saletable");
            var length = table.tBodies[0].rows.length;
            return length
        }

        function insertNewRecord(data) {
            var table = document.getElementById("saletable").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.length);
            cell1 = newRow.insertCell(0);
            cell2 = newRow.insertCell(1);
            cell2.innerHTML = data.Product;
            cell3 = newRow.insertCell(2);
            cell3.innerHTML = data.quantity;
            cell4 = newRow.insertCell(3);
            cell4.innerHTML = data.UnitPrice;
            cell5 = newRow.insertCell(4);
            cell5.innerHTML = data.Subtotal;
            cell6 = newRow.insertCell(5);
            cell6.innerHTML = `<a class="btn btn-outline-danger" onClick="deleteSale(this)">Delete</a>`;
        }

        function saleTotal() {
            var table = document.getElementById("saletable").getElementsByTagName('tbody')[0];

            var qan = 0;
            for (var i = 0; i < table.rows.length; i++) {
                qan += parseFloat(table.rows[i].cells[2].innerHTML);
            }

            var total = 0;
            for (var i = 0; i < table.rows.length; i++) {
                total += Number(table.rows[i].cells[4].innerHTML);
            }

            var sTotal = (Number(total)).toFixed(2);

            document.getElementById("txtTotalQan").innerHTML = qan;
            document.getElementById("txtTotal").innerHTML = `$${sTotal}`;
        }

    </script>

    <script type="text/javascript">

        function deleteSale(th) {
            if (confirm('Are you sure you want to delete this ?')) {
                row = th.parentElement.parentElement;
                document.getElementById("saletable").deleteRow(row.rowIndex);
                saleTotal()
            }
        }

        document.getElementById("btnAddQan").addEventListener("click", function () {
            let qan = document.getElementById("Quantity").value;
            document.getElementById("Quantity").value = Number(qan) + 1;
        });

        document.getElementById("btnMinQan").addEventListener("click", function () {
            let qan = document.getElementById("Quantity").value;
            if (qan == 0)
                document.getElementById("Quantity").value = 0
            else document.getElementById("Quantity").value = qan - 1;
        });
    </script>

}
