@model PinewoodGrow.Models.MemberSituation
<h5>Confirm Delete</h5>
<form asp-action="Delete" asp-controller="MemberSituations" id="theMemberSituationForm">
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" asp-for="ID" />
			<h6>Are you sure you want to delete - @Model.Summary?</h6>
			<div class="form-group float-right">
				<input type="submit" value="Delete" id="submitMemberSituationForm" class="btn btn-danger" />
			</div>
		</div>
	</div>
</form>