@model IEnumerable<PinewoodGrow.Models.DataPoint>
@{
    ViewData["Title"] = "Index";
}

<h1></h1>



<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Member's report by Age",
		fontSize: 30,
		padding: 30
	},
	axisY: {
        title: "No. of Member",
        titleFontSize: 20
	},
    dataPointWidth: 50,
	data: [{
        type: "column",
        indexLabelFontSize: 10,
        fontSize: 20,
		dataPoints: @Html.Raw(ViewData["graphData"])
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 500px; width:90%; margin:auto;"></div>

<br />
<div style="padding:70px;">
    <table class="table table-striped" style="width:100%; margin:auto;">
        <thead>
            <tr>
                <th>
                    Range of Age
                </th>
                <th>
                    No. of Member
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["tableData"] as List<DataPoint>)
            {
                <tr>
                    <td>
                        @item.Label
                    <td>
                        @item.Y
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
