@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Collection of Personal Information The member acknowledges that the collection, use and/or disclosure of personal information is required for the management of the Member's and their dependants' participation or engagement with GROW, including, but not limited to, the administration of the membership for the GROW market, and participation in other programs offered by GROW. The Member hereby consents to the collection, use, and/or disclosure of the Member's personal information as required to facilitate the foregoing.</p>
