@model PinewoodGrow.ViewModels.MemberHouseHoldModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Household</h4>
<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="button" id="btnSampleDataHouse" value="Sample Data" class="btn btn-info" />
    </div>
<input type="hidden" id="Lat" name="Lat" />
<input type="hidden" id="Lng" name="Lng" />
<input type="hidden" id="AddressName" name="AddressName"/>
<input type="hidden" id="PlaceID" name="placeID" />
<input type="hidden" id="city" name="city"/>
<input type="hidden" id="IsFixedAddress" name="IsFixedAddress" value="true"/>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="custom-control custom-switch m-3">
    <input type="checkbox" checked="checked" class="custom-control-input green" id="chkFixed" style="">
    <label class="custom-control-label green" for="chkFixed">Fixed Address</label>
</div>
    <div class="row">
        <div class="col-md-6">
         
            <div class="form-group">
                <label  class="control-label"></label>
                <input class="form-control" id="autocomplete"/>
                <span asp-validation-for="Household.Address.FullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.Address.PostalCode" class="control-label"></label>
                <input asp-for="Household.Address.PostalCode" class="form-control" id="postal" placeholder="e.g. L2J 3Y2" name="postal"/>
                <span asp-validation-for="Household.Address.PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Household.Dependants" class="control-label"></label>
                <input asp-for="Household.Dependants" name="Dependants" id="txtDependants" placeholder="e.g. 2" class="form-control" />
                <span asp-validation-for="Household.Dependants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Household.FamilyName" class="control-label"></label>
                <input asp-for="Household.FamilyName" name="FamilyName" id="txtFamilyName" placeholder="e.g. Doe" class="form-control" />
                <span asp-validation-for="Household.FamilyName" class="text-danger"></span>
            </div>
        </div>
    </div>
<div class="row" style="margin: 0 auto; padding: 10px; align-content: center; justify-content:center;">
                    <div class="form-group" style="padding-right: 20px">
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Create" class="btn btn-info" />
                    </div>
                </div>
            </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<script>
    document.getElementById("btnSampleDataHouse").addEventListener("click", function () {
        document.getElementById("autocomplete").value = "5951 Main St, Niagara Falls, ON , Canada";
        document.getElementById("postal").value = "L2G 5Z7";
        document.getElementById("txtDependants").value = "2";
        document.getElementById("txtFamilyName").value = "Doe";
        document.getElementById("txtFirstName").value = "Jane";
        document.getElementById("txtLastName").value = "Doe";
        document.getElementById("txtAge").value = "1984-02-04";
        document.getElementById("ddlGender").value = "2";
        document.getElementById("txtPhone").value = "6367727614";
        document.getElementById("txtEmail").value = "sample@gmail.com";
        document.getElementById("txtIncome").value = "1600";
        document.getElementById("txtComplete").value = "2";
        document.getElementById("chkIllnesses").value = "2";
        document.getElementById("chkSituations").value = "7";
    })
</script>
<script>
    document.getElementById("chkFixed").addEventListener("click",
        function () {
            if (this.checked) {
                document.getElementById("autocomplete").disabled = false;
                document.getElementById("postal").disabled = false;
                document.getElementById("IsFixedAddress").value = true;
                
            } else {
                document.getElementById("autocomplete").disabled = true;
                document.getElementById("postal").disabled = true;
                document.getElementById("IsFixedAddress").value = false;
            }


        })

</script>
<script src="~/js/GeoLocateAutoComplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL-MHoHXLeE8E2WJKgnX60Rq03qo9EYxU&libraries=places&callback=initAutocomplete" async defer></script>
<script src="~/js/multiselect.js"></script> 