@model PinewoodGrow.Models.Household

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Household</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="ID" />
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LICO" /> @Html.DisplayNameFor(model => model.LICO)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="Dependents" class="control-label"></label>
                <input asp-for="Dependents" class="form-control" />
                <span asp-validation-for="Dependents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.FullAddress" class="control-label"></label>
                <input asp-for="Address.FullAddress" class="form-control" id="autocomplete" />
                <span asp-validation-for="Address.FullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" id="city" name="city" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode" class="control-label"></label>
                <input asp-for="Address.PostalCode" class="form-control" id="postal" name="postal" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Exisiting Members</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Members</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0 auto; padding: 10px; align-content: center; justify-content:center;">
        <div class="form-group" style="padding-right: 20px">
            <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-primary">Back</a>
        </div>
        <div class="form-group">
            <input type="submit" id="btnSubmit" value="Save" class="btn btn-info" />
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}