/*Distance Display for Map Report*/

.travel-container {
    height: 800px;
    border-radius: 12px;

}

.colored {
    background-color: #397A4C;
}

.travel-display {
    display: flex;
    margin-top: 10px;
    border-radius: 12px;
}

.travel-avg {
    text-align: center;
    float: left;
    width: 33%;
}

.travel-avg img {
    position: relative;
    top: 55px;
    width: 130px;
    z-index: 1;
}

.travel-avg p {
    color: #ffffff;
    z-index: 999;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.distance {

    height: 240px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
}

.distance img {
    position: relative;
    top: 10px;
    width: 130px;
    z-index: 1;
}

.distance-title h2 {
    color: #ffffff
}
.distance-title-color h2 {
    color: #397A4C
}
.distance p {
    font-weight: bold;
    font-size: 20px;
    color: #397A4C;
    text-align: center;
    position: relative;
    top: -45px;
}

.travel-title h1 {
    color: #397a4c;
    height: 180px;
    padding-top: 60px;
    font-size: 34px;
    font-weight: normal;
}



/*Radio Buttons*/

.purple:focus ~ .purple::before {
    border-color: #8e67fd !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.purple:checked ~ .purple::before {
    border-color: #8e67fd !important;
    background-color: #8e67fd !important;
}

.purple:active ~ .purple::before {
    background-color: #8e67fd !important;
    border-color: #8e67fd !important;
}

.purple:focus:not(:checked) ~ .purple::before {
    border-color: #8e67fd !important;
}


.yellow:focus ~ .yellow::before {
    border-color: #fdf569 !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.yellow:checked ~ .yellow::before {
    border-color: #fdf569 !important;
    background-color: #fdf569 !important;
}

.yellow:active ~ .yellow::before {
    background-color: #fdf569 !important;
    border-color: #fdf569 !important;
}

.yellow:focus:not(:checked) ~ .yellow::before {
    border-color: #fdf569 !important;
}

.green:focus ~ .green::before {
    border-color: #00e64d !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.green:checked ~ .green::before {
    border-color: #00e64d !important;
    background-color: #00e64d !important;
}

.green:active ~ .green::before {
    background-color: #00e64d !important;
    border-color: #00e64d !important;
}

.green:focus:not(:checked) ~ .green::before {
    border-color: #00e64d !important;
}

.red:focus ~ .red::before {
    border-color: #fd7567 !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.red:checked ~ .red::before {
    border-color: #fd7567 !important;
    background-color: #fd7567 !important;
}

.red:active ~ .red::before {
    background-color: #fd7567 !important;
    border-color: #fd7567 !important;
}

.red:focus:not(:checked) ~ .red::before {
    border-color: #fd7567 !important;
}

.blue:focus ~ .blue::before {
    border-color: #6a92fc !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.blue:checked ~ .blue::before {
    border-color: #6a92fc !important;
    background-color: #6a92fc !important;
}

.blue:active ~ .blue::before {
    background-color: #6a92fc !important;
    border-color: #6a92fc !important;
}

.blue:focus:not(:checked) ~ .blue::before {
    border-color: #6a92fc !important;
}