/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.btn-index span {
    color: #397a4c;
}

.btn-index a > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #397a4c;
    transition: all 0.4s ease-in;
}

.btn-index a:hover > svg {
    font-size: 1.2em;
    transform: scale(1.1)
}

.btn-index a:hover, .btn-index input:hover {
    box-shadow: 2px 2px 10px #d7e5db, -2px -2px 10px #d7e5db;
    transform: translateY(-2px);
}
.checkContainer {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

}
.checkContainer div {
    margin: 5px;
}
.checkContainer div label{
    cursor: pointer;
}
.checkContainer div label input[type="checkbox"] {
    cursor: pointer;
    display: none;
}
    .checkContainer div span {
        position: relative;
        display: inline-block;
        padding: 4px 12px;
        background: #f7f7f7;
        color: #397a4c;
        border: #397a4c solid 1px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 1rem;
        user-select: none;
        overflow: hidden;
    }

.checkContainer div label span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%
 
}
.checkContainer div label input[type="checkbox"]:checked ~ span
{
        background: #397a4c;
        color: #fff
}


.custom-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15)
}

.custom-table thead tr {
    background-color: #397a4c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.custom-table th, .custom-table td {
    padding: 12px 15px;
}

.custom-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.custom-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3
}

.custom-table tbody tr:last-of-type {
    border-bottom: 2px solid #397a4c;
}

    .actionsContainer {
        width: 30vw;
        display: flex;
        float: right;
        justify-content: right;
        position: relative;
        gap: 20px;
        top: -50px;
        left: -50px;
    }

.actionsContainer-trash {
    display: flex;
    float: right;
    justify-content: end;
    position: relative;
    gap: 10px;
}

.actionsContainer-center-float {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
    margin: 0 auto;
}

.actionsContainer-center {
    width: 100%;
}

modal-lg {
    width: 1200px;
}
.small a {
    width: 50px !important;
}
.btn-custom a {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #397a4c;
    font-weight: 500;
    border: #397a4c 1px solid;
    margin: 0 auto;
}

.btn-custom button, .btn-custom button input{
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #397a4c;
    font-weight: bold;
    border: #397a4c 1px solid;
    margin: 0 auto;
}


.btn-custom span {
    color: #397a4c;
}

.btn-custom a > svg, .btn-custom button > svg, .btn-custom button input > svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #397a4c;
    transition: all 0.4s ease-in;
}

.btn-custom a:hover > svg {
    font-size: 1.2em;
    transform: scale(1.1)
}

.btn-custom a:hover, .btn-custom button:hover, .btn-custom input:hover {
    box-shadow: 2px 2px 10px #397a4c, -2px -2px 10px #d7e5db;
    transform: translateY(-2px);
}

.small a {
    width: 50px !important;
}

.tiny a {
    width: 50px !important;
    height: 40px !important;
}

.purple a {
    /*#7a3967*/
    color: #7a3967 !important;
    border: #7a3967 1px solid !important;
}

.purple span {
    color: #7a3967 !important;
}

.purple svg {
    color: #7a3967 !important;
}

.purple a:hover {
    box-shadow: 2px 2px 10px #7a3967, -2px -2px 10px #BFD0DA !important;
}


.grey a {
    /*#7a3967*/
    color: #222 !important;
    border: #444 1px solid !important;
}

.grey span {
    color: #444 !important;
}

.grey svg {
    color: #444 !important;
}

.grey a:hover {
    box-shadow: 2px 2px 10px #bbb, -2px -2px 10px #bbb !important;
}

.grey a:hover span {
    color: #222;
}

.green a {
    /*#7a3967*/
    color: #397a4c !important;
    border: #397a4c 1px solid !important;
}

.green span {
    color: #397a4c !important;
}

.green svg {
    color: #397a4c !important;
}

.green a:hover {
    box-shadow: 2px 2px 10px #397a4c, -2px -2px 10px #397a4c !important;
}

    .green a:hover span {
        color: #397a4c;
    }
.red a {
    /*#7a3967*/
    color: #b22222 !important;
    border: #b22222 1px solid !important;
}

.red span {
    color: #b22222 !important;
}

.red svg {
    color: #b22222 !important;
}

.red a:hover {
    box-shadow: 2px 2px 10px #ECC8C8, -2px -2px 10px #ECC8C8 !important;
}



.btn-back a {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #397a4c;
    border: #397a4c 1px solid;
    font-weight: 500;
}

    .btn-back a > svg {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
        color: #397a4c;
    }
.btn-back a > span {

    color: #397a4c;
}

    .btn-back a:hover > svg {
        font-size: 1.2em;
        transform: translateX(-5px);
    }

    .btn-back a:hover {
        box-shadow: 2px 2px 10px #d7e5db, -2px -2px 10px #d7e5db;
        transform: translateY(-2px);
    }







.btn-trash a {
    display: flex;
    height: 3em;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #b22222;
    border: #b22222 1px solid;
}

    .btn-trash a > svg {
        color: #b22222;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
    }

    .btn-trash a:hover > svg {
        font-size: 1.2em;
        transform: scale(1.1);
    }

    .btn-trash a:hover {
        box-shadow: 9px 9px 33px #ECC8C8, -9px -9px 33px #ECC8C8;
        transform: translateY(-2px);
    }



.btn-add a {
    display: flex;
    height: 2.2em;
    width: 90px;
    align-items: center;
    justify-content: center;
    background-color: #397a4c;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    border: #397a4c 1px solid;
}

    .btn-add a > svg {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
    }

    .btn-add a:hover > svg {
        font-size: 1.2em;
        transform: translateX(-5px);
    }

    .btn-add a:hover {
        box-shadow: 9px 9px 33px #d7e5db, -9px -9px 33px #d7e5db;
        background-color: #3A7D4E;
        transform: translateY(-2px);
    }

.btn-add-member a {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #397a4c;
    font-weight: bold;
    border: #397a4c 1px solid;
    margin: 0 auto;
}

.btn-add-member span {
    color: #397a4c;
}

.btn-add-member a > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #397a4c;
    transition: all 0.4s ease-in;
}

.btn-add-member a:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btn-add-member a:hover {
    box-shadow: 2px 2px 10px #d7e5db, -2px -2px 10px #d7e5db;
    transform: translateY(-2px);
}


.btn-submit button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #397a4c;
    font-weight: bold;
    border: #397a4c 1px solid;
    margin: 0 auto;
}

.btn-submit span {
    color: #397a4c;
}

.btn-submit button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #397a4c;
    transition: all 0.4s ease-in;
}

.btn-submit button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btn-submit button:hover {
    box-shadow: 9px 9px 33px #d7e5db, -9px -9px 33px #d7e5db;
    transform: translateY(-2px);
}


.btn-draft a {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    background: #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #00416a;
    font-weight: bold;
    border: #00416a 1px solid;
    margin: 0 auto;
}

.btn-draft span {
    color: #00416a;
}

.btn-draft a > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: #00416a;
    transition: all 0.4s ease-in;
}

.btn-draft a:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btn-draft a:hover {
    box-shadow: 9px 9px 33px #BFD0DA, -9px -9px 33px #BFD0DA;
    transform: translateY(-2px);
}


.btn-view a {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}




    .btn-view a:hover {
        border: 1px solid white;
    }

    .btn-view a:active {
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    }




.content-detail-pagination {
    width: max-content;
    margin: 50px auto;
}
.content-detail-pagination button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 14px;
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 3px 6px;
  height: 38px;
  min-width: 38px;
  border-radius: 38px;
  border: 2px solid #666;
  line-height: 38px;
  padding: 0;
  color: #555;
  font-weight: 700;
  letter-spacing: 0.03em;
text-align: center;
line-height: 36px;
}
.content-detail-pagination p{
  display: inline-block;
  margin: 0 10px;
}
.content-detail-pagination button:hover{
  border: 2px solid #397a4c;
  color: #397a4c;
  background-color: #eee;
  transform: scale(1.1);
}


.prev{
  margin-left: 10px;
  padding: 0 32px;
}
.next{
  margin-right: 10px;
  padding: 0 16px;
}

#sel{
  color: #397a4c;
  border: 2px solid #397a4c;
}

#dots{
  border: none;
  font-size: 32px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.gm-style-iw .gm-style-iw-c gm-style-iw {
    width: 400px !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
    padding: 0;
}

.gm-style .gm-style-iw-c {
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.gm-style .gm-style-iw-c
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.gm-style-iw .gm-style-iw-c {
    background-color: transparent;
}

